*{
    margin:0;
    padding:0;
    border:0;
}

html, body{
    height:100%
}

body{
    background: linear-gradient(180deg, rgb(15, 7, 160) 8%, rgb(60, 60, 192) 53%, rgb(0, 89, 255) 100%);
    color:white;
}

h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:14px;
    letter-spacing: 1px;
}

.Main-header {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    width: 70px;
    margin-top:20px;
    border: solid white;
    box-shadow: 0 0 10px;
}

.social-icons{
    margin-top:15px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.social-icons img{
    width: 20px;
}

.link-list li{
    margin: 15px 20px;
    list-style:none;
}
.link-list li a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: block;
    background:white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 4px;
    color:blue;
}

.link-list li a span {
    color: grey;
    display: block;
    margin-top: 10x;

}